parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
            - '#^Method SwowCloud\\OpenAI\\Responses\\Chat\\CreateResponse\:\:offsetGet\(\)\ should return array.*$#'
            - '#^Socket enable crypto failed, reason: SSL_do_handshake\(\) failed.*$#'
            - '#^Call to an undefined method Psr\\Http\\Client\\ClientInterface\:\:enableCrypto\(\).*$#'


